{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "printWidth": 100,
  "endOfLine": "lf",
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "quoteProps": "as-needed",
  "insertPragma": false,
  "requirePragma": false,
  "proseWrap": "preserve",
  "embeddedLanguageFormatting": "auto"
}
